@import url(/css/fonts.css);
@import url(/css/card.css);
@import url(/css/nav.css);

.wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav"
		"header"
		"content"
		"hair"
		"footer";
}

body {
	margin: 0;
}

h1 {
	font-family: "Lato", sans-serif;
	font-size: 2.5rem;
}
.main-header {
	grid-area: header;
	text-align: center;
	display: none;
	border-bottom: 3px solid #ff4b4b;
}
.content {
	grid-area: content;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main-nav {
	grid-area: nav;
	height: 49px;
	border-bottom: 3px solid #ff4b4b;
}

.hair {
	grid-area: hair;
	display: none;
}

.main-footer {
	grid-area: footer;
	height: 50px;
	padding-right: 16px;
	text-align: right;
}

/* media queries */
@media (min-width: 500px) {
	.wrapper {
		grid-template-columns: 2fr 4fr;
		grid-template-areas:
			"header  header"
			"nav  content"
			"nav  content"
			"footer  footer";
	}
	.main-header {
		height: 100px;
		display: block;
	}

	.main-nav {
		grid-area: nav;
		height: 700px;
		border-bottom: none;
	}
}

@media (min-width: 1000px) {
	.wrapper {
		grid-template-columns: 2fr 4fr 4fr;
		grid-template-areas:
			"header  header header"
			"nav  content  content"
			"nav  content content"
			"footer footer footer";
	}

	.content {
		flex-direction: row;
		flex-wrap: wrap;
		overflow: hidden;
		justify-content: space-around;
	}
}
