.wrapper {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"content"
		"hair"
		"footer";
}
body {
	margin: 0 16px;
}

.main-header {
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: lawngreen;
	height: 48px;
	margin: 0;
}

.post-content {
	grid-area: content;
	display: flex;
	justify-content: center;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid violet;
}
h2 {
	margin: auto;
}
.topic-wrapper {
	margin: auto;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 350px;
}

li {
	background-color: aqua;
	border-radius: 20px;
	width: 120px;
	height: 38px;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
}

img {
	margin: auto;
	width: 350px;
}
